/*-------------------------------*/
/*           VARIABLES           */
/*-------------------------------*/
body {
  position: relative;
  overflow-x: hidden;
}
.text-left{
  text-align: left !important;
}
.bg-white{
  background: white;
}
.bg-grey{
background: #FAFAFA;
}
.nav .open > a {
  background-color: transparent;
}
.nav .open > a:hover {
  background-color: transparent;
}
.nav .open > a:focus {
  background-color: transparent;
}
/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/
#wrapper {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  padding-left: 0;
  transition: all 0.5s ease;
}
#wrapper.toggled {
  /* padding-right: 220px; */
}
.intro-html{
transition: all 0.5s ease;
}
#wrapper.toggled .intro-html {
  margin-left: -220px;
  transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
  width: 300px;
}
#wrapper.toggled #page-content-wrapper {
  /* margin-left: -220px; */
  transition: all 0.5s ease;
}
#sidebar-wrapper {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  background: #1a1a1a;
  height: 100%;
  right: 0;
  margin-left: -300px;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.5s ease;
  width: 0;
  z-index: 1000;
  left: inherit;
  position:fixed;
}
#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}
#page-content-wrapper {
  width: 100%;
  transition: all 0.5s ease;
}
.container{
	width:100%;
}
/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
#menu-artba-menu-3 tr.active{
    border-left: 3px solid #e92c36; 
}

.sidebar-nav {
  list-style: none;
  margin: 0;
  padding: 0 15px;
  position: absolute;
  top: 65px;
  width: 300px;
}
.sidebar-nav li {
  display: inline-block;
  line-height: 20px;
  position: relative;
  width: 100%;
}
.sidebar-nav li:before {
  
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 3px;
  z-index: -1;
}
.sidebar-nav a, #menu-artba-menu-3 h3 {
 
  color: #ffffff !important;
}
#menu-artba-menu-3 h3 {
    font-size:18px;  
    margin:0 !important;
}
#menu-artba-menu-3 tr{
    margin: 20px 0;
}
#menu-artba-menu-3 tr td{
    vertical-align:middle !important;
        padding: 10px 5px 10px 5px;

}
.sidebar-nav a{
    font-size:12px;
}

.sidebar-nav li:hover:before {
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 100%;
}
.sidebar-nav li a {
  color: #dddddd;
  display: block;
  padding-left: 10px;
  padding-right:5px;
  text-decoration: none;
}
.sidebar-nav li.open:hover before {
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 100%;
}
.sidebar-nav .dropdown-menu {
  background-color: #222222;
  border-radius: 0;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}
.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
  font-size: 20px;
  height: 65px;
  line-height: 44px;
}
/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/
.hamburger {
  background: transparent;
  border: none;
  display: block;
  height: 32px;
  margin-left: 15px;
      position: relative;
    top: 11px;
    width: 32px;
    z-index: 999;
}
.hamburger:hover {
  outline: none;
}
.hamburger:focus {
  outline: none;
}
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  color: #ffffff;
  content: '';
  display: block;
  font-size: 14px;
  line-height: 32px;
  opacity: 0;
  text-align: center;
  width: 100px;
}
.hamburger.is-closed:hover before {
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  display: block;
  opacity: 1;
}
.hamburger.is-closed:hover .hamb-top {
  -webkit-transition: all 0.35s ease-in-out;
  top: 0;
}
.hamburger.is-closed:hover .hamb-bottom {
  -webkit-transition: all 0.35s ease-in-out;
  bottom: 0;
}
.hamburger.is-closed .hamb-top {
  -webkit-transition: all 0.35s ease-in-out;
  background-color: rgba(0, 0, 0, 0.7);
  top: 5px;
}
.hamburger.is-closed .hamb-middle {
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: -2px;
  top: 50%;
}
.hamburger.is-closed .hamb-bottom {
  -webkit-transition: all 0.35s ease-in-out;
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 5px;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
}
.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
  background-color: #000;
  margin-top: -2px;
  top: 50%;
}
.hamburger.is-open .hamb-middle {
  background-color: #000;
  display: none;
}
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
  background-color: #000;
  margin-top: -2px;
  top: 50%;
}
.hamburger.is-open:before {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  color: #ffffff;
  content: '';
  display: block;
  font-size: 14px;
  line-height: 32px;
  opacity: 0;
  text-align: center;
  width: 100px;
}
.hamburger.is-open:hover before {
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  display: block;
  opacity: 1;
}
/*-------------------------------*/
/*          Dark Overlay         */
/*-------------------------------*/
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 99;
}
/* SOME DEMO STYLES - NOT REQUIRED */
body,
html {
  background-color: #fff
}
body h1,
body h2,
body h3,
body h4 {
  color: inherit;
}
body p, body blockquote {
  color: inherit;
}
body a {
  
  text-decoration: none;
}
body a:hover {
  color: #fff;
}
h1,h2,h3,h4,h5,p,a,li{
font-family: 'Lato', sans-serif !important;
}
.no-padding{
  padding: 0 !important;
}
.text-white{
color: white !important;
}

.navbar-default{
background: white;
}
.navbar-collapse .navbar-nav.navbar-right:last-child{
margin: 0 !important;
}
footer > * {
color:white;
}
footer ul, footer ul li{
list-style: none;
padding:0;
}
footer ul li{
	padding: 0;
   	list-style-type: none;
   	-webkit-padding-start: 0;
   	
}
h2{
font-size:36px;
}
h4{
font-size:18px;
}

.intro-html{
		position:absolute;
		top:0;
		left:0;
		text-align:center;
		width:100%;
		height:100%;
		max-height:800px;
		background-color:rgba(0,0,0,0.2);
	}
	.intro-html .title{
		margin-top:17%
	}
	footer{
		background-image:url('https://artbabridgereport.org/img/footer.jpg');
		background-size:cover;
		background-position:top;
    background-attachment: fixed;
    background-repeat: no-repeat;
		min-height:200px;
    position: relative;
    display: block;
    z-index:4;
    margin-bottom: -30px;
	}
	footer h3{
    color:white !important;
}

footer .social{
    border: 1px dashed white;
    border-radius: 100%;
    padding: 8px;
    background:white;
}

footer .social i:hover{
    color:orange;
}

footer .social i{
    width: 17px;
    height: 17px;
    text-align: center;
    color:#2e81ab;
}
	footer ul li{
	    font-size:13px !important;
	}
	.tile h3{
	margin-top:25%;
	font-size:0.8em;
	}
	.tile1{ 
		background: 
    		linear-gradient(
		      rgba(255, 152, 7, 0.6), 
		      rgba(255, 152, 7, 0.6)
		    ),
    		url('../img/safety_tile.jpg');
    		
	}
	.tile2{
		background: 
		linear-gradient(
		      rgba(63, 81, 181, 0.6), 
		      rgba(63, 81, 181, 0.6)
		    ),
    		url('../img/law_tile.jpg');
	}
	.tile3{
		background: 
		linear-gradient(
		      rgba(0,150,136, 0.6), 
		      rgba(0,150,136, 0.6)
		    ),
    		url('../img/econ_tile.jpg');
	}
	.tile4{
		background: 
		linear-gradient(
		      rgba(205, 0, 0, 0.5), 
		      rgba(205, 0, 0, 0.5)
		    ),
    		url('../img/tiac_tile.jpg');
	}
	.tile5{
		background: 
		linear-gradient(
		      rgba(0,150,136, 0.6), 
		      rgba(0,150,136, 0.6)
		    ),
    		url('../img/news_tile.jpg');
	}
	.tile6{
		background: 
		linear-gradient(
		      rgba(121, 85, 72, 0.6), 
		      rgba(121, 85, 72, 0.6)
		    ),
    		url('../img/faq_tile.jpg');
	}
	.tile7{
		background: 
		linear-gradient(
		      rgba(121, 85, 72, 0.6), 
		      rgba(121, 85, 72, 0.6)
		    ),
    		url('../img/aee_tile.jpg');
	}
	.tile8{
		background: 
		linear-gradient(
		      rgba(121, 85, 72, 0.6), 
		      rgba(121, 85, 72, 0.6)
		    ),
    		url('../img/tmaw_tile.jpg');
	}
	
	.tile{
	border-radius:0;
	margin-bottom:0;
	cursor:pointer;
	background-size:cover;
	transition: all 0.7s ease;
    max-height: 100%;
    height: 250px;
    max-width: 100%;
	}
	.tile:hover{
	opacity:0.6;
	transition: all 0.7s ease;
	}
	.mb0{
   max-width: 100%;
   padding-left: 17%;
   padding-right: 13%;
}

.scroller {
    position: absolute;
    bottom: 10%;
    left: 0; 
    right: 0;
    width: 18px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    
}

.mouse {
    height: 31px;
    width: 18px;
    border-radius: 12px;
    transform: none;
    border: 2px solid white;
    top: 170px;
}

.wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: white;
    position: relative;
}

.wheel {
    -webkit-animation: mouse-wheel 1.2s ease infinite;
    -moz-animation: mouse-wheel 1.2s ease infinite;
}

@-webkit-keyframes mouse-wheel {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}

@-moz-keyframes mouse-wheel {
    0% { top: 1px; }
    50% { top: 2px; }
    100% { top: 3px;}
}

@-webkit-keyframes mouse-scroll {
    0%   { opacity: 0;}
    50%  { opacity: .5;}
    100% { opacity: 1;}
}

@-moz-keyframes mouse-scroll {
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
}

@-o-keyframes mouse-scroll {
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
}

@keyframes mouse-scroll {
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
}


@media only screen and (max-width:414px){
   .bg-main, .intro-html{
       max-height: 30%;
       margin-top: 40px;
   }
   
   .title{
       font-size: 30px;
   }
   li.menu-item, ul.sub-menu{
       list-style: none !important;
   }
   #mainIMG{
       min-height: 50%;
   }
   
   .tile h3 {
       margin-top: 33%;
       font-size: 18px;
    }
    .bg-parallax{
        min-height: 85px;
        background-size: cover !important;
            margin-top: 53px;
    }
    h1.header-title{
        font-size: 6vw;
        position: absolute;
        color: white;
        z-index: 9;
        line-height: 1.8;
        
    }
    .menu-item-has-children .sub-menu{
        display: inherit !important;
    }
    .fusion-widget-area-1{
        display:none !important;
    }
    .widget_nav_menu ul .menu-item-has-children:after{
        content: '' !important;
    }
}

@media only screen and (min-width:414px){\.mobile-bucket{
    background:whitesmoke;
    padding:20px 20px 50px 20px;
    
  }
    .text-mobile{
        display:none !important;
    }
    .bg-parallax{
        min-height: 105px;
    }
    #breadcrumbs{
        margin-top: 14px;
    }
    
    h1.header-title{
        padding-left:15px;
        font-size: 3.5vw;
        position: absolute;
        color: white;
        z-index: 9;
        line-height: 2.8;
    }
    .widget_nav_menu .menu-item-has-children .sub-menu{
        display:none;
    }
}
@media only screen and (min-width:415px) and (max-width:900px){
    h1.header-title{
        line-height: 3.8 !important;
    }
}
@media only screen and (min-width:990px) and (max-width:1024px){
    h1.header-title{
        line-height: 2.9 !important;
    }
    .fusion-column-first.fusion-one-sixth{
        width: 0 !important;
    }
    .fusion-two-third{
        width:78% !important;
    }
    .bg-parallax{
        min-height: 132px !important;
        background-position: inherit !important;
        background-size: contain !important;
    }
}

@media only screen and (min-width:900px){
    .bg-parallax{
        min-height: 180px;
        background-position: inherit !important;
        background-size: contain !important;
    }
}



.post-content h4{
    font-size: 18px !important;
    font-weight: bold;
}
   

.fusion-page-title-bar{
    display:none;
}
#wpadminbar{
direction: ltr;
    color: #ccc;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    height: 32px !important;
    position: fixed !important;
    top: 53px;
    left: 0;
    width: 100%;
    min-width: 600px;
    z-index: 99999;
    background: #23282d;
}
#searchModal{
    margin-top:10%;
}



.post-content a{
    color: #b3121a !important;
}
.widget_nav_menu ul .menu-item a, .widget_recent_entries ul li a{
    color: #2e81ab !important;
    
}
.widget_recent_entries li{
    border: none !important;
}

.widget_nav_menu ul .menu-item a:before, .fusion-widget-area .widget_recent_entries li a:before{
    content: "" !important;
}

.widget_nav_menu ul .menu-item-has-children:after{
    position: absolute;
    font-family: icomoon;
    right: 28px;
    content: '\f107';
    top: 11px;
    cursor:pointer;
    -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.widget_nav_menu ul .menu-item-has-children.opened:after{
    content: '\f106';
}

.fusion-modal{
    z-index:9999999 !important;
    background: white !important;
}
.modal-backdrop{
    display:none !important;
}

a.btn.text-white{
    color: white !important;
}

.contact-info-container .email{
    color: rgba(0,0,255,0.02);
    text-indent: -9999px;  
}

#evcal_list{
    border-radius: 0 !important;
}



#respond, .fusion-sharing-box{
 display:none;   
}

#menu-artba-menu{
    display:none !important;
}

#menu-artba-menu-1 .current-menu-item, #menu-artba-menu-1 .current-page-ancestor{
    background-color: #2e81ab;
    
}
#menu-artba-menu-1 .current-menu-item a, #menu-artba-menu-1 .current-page-ancestor a{
    color:white !important;
}

.menu-item a:hover{
color: #2e81ab;
}

.fusion-row{
 max-width: inherit !important;   
}

/* queries for core competencies */

    
@media only screen and (max-width: 600px) {
 .mobile-bucket{
    background:whitesmoke;
    padding:20px 20px 50px 20px;
    
  }
  
  .mobile-bucket a{
    display:flex;
    background:white;
    height:100px;
    align-items:center;
    margin-bottom:10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  
  
  .mobile-bucket .tile{
    display:table-cell;
    width:135px !important;
    height:100px !important;
    padding:0 10px;
    margin:0;
  }
  .mobile-bucket .text-mobile{
    display:flex !important;
    width:100% !important;
    font-size:12px;
    align-items:center;
    padding-left:10px
  }

  .mobile-bucket .tile h3{
    display:none;
  }
  
}